

<div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
</div>


 <div class="container">

      <div id="login">
		<a [routerLink]="['/login']">
		<img class="logo" src="/assets/plesapp.png"  width="280" height="200" style="vertical-align:top" />
	</a>
        <form method="post">

          <fieldset class="clearfix">




<form class= "fontawesome-password" (submit)="login()">
  <input class = "input"
			required
			placeholder = "Enter Username"
			[(ngModel)] = "userData.username"
			#name = "ngModel"
			name = "name"
      type = "text"
      (input) = "error = false"/>
			
		<div class = "error" *ngIf = "name.touched && name.errors != null">
			<div *ngIf="name.errors['required']">
				<label class="textcenter">Required Field</label>
			</div>
    </div>
    
     <input class = "fontawesome-lock"
			required
			placeholder = "Enter Password"
			[(ngModel)] = "userData.password"
			#pass = "ngModel"
			name = "name"
      type = "text"
      (input) = "error = false"/>
			
		<div class = "error" *ngIf = "pass.touched && pass.errors != null">
			<div *ngIf="pass.errors['required']">
				<label class="textcenter">Required Field</label>
			</div>
    </div>
    

    <div class="error" *ngIf="error">
      <label>ERROR: invalid input</label>
    </div>

		<button type="submit" class="button" value="submit">Submit</button>
</form>

          </fieldset>

       

        <p class="textcenter">Not a member? <a [routerLink]="['/registration']" href="#" class="blue">Sign up now</a></p>