:host {
    display: block;
    margin: auto;
    width: 50%;
}

.addItemLabel {
    font-size: 3em;
    margin-bottom: .5em;
}

.addItemForm {
    width: 40em;
}

.addItemInput {
    width: 25em;
    height: 2em;
    padding-left: .5em;
    font-size: 1em;
    border: 0px;
}

.addItemInput:focus {
    outline: none;
    border-bottom: 2px solid grey;
}

.addItemSubmitBtn {
    padding: .5em 1.5em .5em 1.5em;
    border-radius: 2px;
    font-size: 1em;
    margin-left: .5em;
}

.addItemSubmitBtn:hover {
    border: 1px solid lightgrey;
    cursor: pointer;
}