@import '~bootstrap/dist/css/bootstrap.min.css';

/* You can add global styles to this file, and also import other style files */


@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}



.addProductInput {
    background-color: #3b4148;
    border-radius: 3px 3px 3px 3px;
    color: #eee;
    text-align: center;
    align-content: center;
    margin-bottom: 0.5em;
    padding: 0 16px;
    width: 280px;
    height: 30px;
  }

.button[type="submit"] {
    border-radius: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 3em;
    background-color: #ea4c88;
    color: #eee;
    font-weight: bold;
    margin-bottom: 1em;
    text-transform: uppercase;
    width: 280px;
  }
  
  .button[type="submit"]:hover {
    background-color: #d44179;
  }

body {
  background: #2c3338;
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
  overflow-y:auto !important;
  overflow-x:hidden !important;
}


.addProductLabel {
    position: absolute;
}


.addProductSubmitBtn {
    position: absolute;
    left: 13%;
}


.container {
  left: 40%;
  position: fixed;
   top: -1%;

}

.logo {
    align-items: center;
}



/*Time to finalise the cloud shape*/
