<div class="container"> 


  <a [routerLink]="['/home']">
		<img class="logo" src="/assets/plesapp.png"  width="280" height="200" style="vertical-align:top" />
	</a>
  <form class="addProductForm" action="#" method="POST">
    <input [(ngModel)]="product.name" size="10" placeholder="Enter product name" class="addProductInput"
    type="text" name="name"/>
    <br>
    <input [(ngModel)]="product.price" placeholder="Enter price" class="addProductInput"
    type="text" name="name"/>
    <br>
    <button type="submit" (click) = "add()" class = "button">Submit</button>
  </form>
</div>
<br>
<br>
<br>
